.header {
  background: rgba(23, 25, 29, 1);
  @include pageGrid;
  z-index: 0;

  @include onDesktop {
    height: 1080px;
  }

  &-container {
  position: relative;
  max-width: 1280px;
    margin: 0 auto;
    grid-column: 1 / -1;
  }

  &-main {
    &__image {
      &-1 {
        position: absolute;
        bottom: 0;
        z-index: 1;

        @include onDesktop {
          display: none;
        }
      }

      &-2 {
        position: absolute;
        top: 150px;
        left: 90px;
        z-index: 0;

        @include onDesktop {
          display: none;
        }
      }

      &-3 {
        position: absolute;
        top: 425px;
        left: 65px;
        z-index: 0;

        @include onDesktop {
          display: none;
        }
      }

      &-4 {
        position: absolute;
        top: 250px;
        right: 20px;
        z-index: 0;

        @include onDesktop {
          display: none;
        }
      }

      &-5 {
        position: absolute;
        top: 210px;
        left: 0;
        z-index: 0;

        @include onDesktop {
          display: none;
        }
      }

      &-6 {
        position: absolute;
        top: 380px;
        right: 0;
        z-index: 0;

        @include onDesktop {
          display: none;
        }
      }

      &--background {
        &-1 {
          display: flex;
          justify-content: center;
        }
      }

      &--background {
        &-2 {
          display: inline-block;
        }
      }

      &--background {
        &-3 {
          display: inline-block;
        }
      }

      &--background {
        &-4 {
          display: inline-block;
        }
      }

      &--background {
        &-5 {
          display: inline-block;
        }
      }

      &--background {
        &-6 {
          display: inline-block;
        }
      }
    }
  }

  &-content {
    &__top {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 24px 20px;
      padding-inline: 20px;

      &-image {
        height: 34px;

        @include onTablet {
          height: 42px;
        }

        @include onDesktop {
          height: 55px;
        }
      }
    }

    &__main {
      padding-block: 55px 150px;
      padding-inline: 20px;

      @include onTablet {
        padding-inline: 50px;
      }

      @include onDesktop {
        padding-block-start: 165px;
      }

      &-block {
        background: linear-gradient(104.93deg, rgba(122, 122, 122, 0.19) 1.86%, rgba(122, 122, 122, 0) 104.73%);
        box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.15);
        border-radius: 7px;
        padding-inline: 15px;
        padding-block: 56px;
        backdrop-filter: blur(35px);
      }

      &-title {
        font-size: 34px;
        font-weight: 700;
        line-height: 39.07px;
        text-align: center;
        color: #fff;

        @include onTablet {
          font-size: 44px;
          line-height: 50px;
        }

        @include onDesktop {
          font-size: 72px;
          line-height: 82.73px;
        }
      }

      &-text {
        padding-block: 30px;
        
        font-size: 16px;
        font-weight: 300;
        line-height: 19.74px;
        text-align: center;
        color: #fff;

        @include onTablet {
          font-size: 20px;
          line-height: 21.5px;
        }

        @include onDesktop {
          font-size: 24px;
          line-height: 27.58px;
          max-width: 800px;
          margin: 0 auto;
          text-align: start;
        }
      }

      &-buttons {
        display: flex;
        flex-direction: column;
        gap: 25px;

        @include onTablet {
          display: flex;
          align-items: center;
        }

        @include onDesktop {
          padding-block-start: 50px;
          flex-direction: row;
          justify-content: center;
        }
      }

      &-link {
        font-size: 20px;
        font-weight: 400;
        line-height: 22.98px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        border-radius: 36px;
        padding-block: 20px;

        &--red {
          background: rgba(255, 11, 83, 1);
        }

        &--dark {
          border: 1px solid rgba(255, 255, 255, 1)
        }

        @include onTablet {
          width: 60%;
        }

        @include onDesktop {
          width: 30%;
          font-size: 24px;
          line-height: 27.58px;
        }
      }
    }

    &__nav {
      display: none;

      @include onDesktop {
        display: block;
      }
    }

    &__navigation {
      &-list {
        display: flex;
        gap: 20px;
      }

      &-item {
        list-style: none;
      }

      &-link {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        
        color: #fff;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &__images {
      &--1 {
        display: flex;
        justify-content: center;
      }


      &-image--1 {
        display: none;
        position: absolute;
        bottom: 0;
        z-index: 0;

        @include onDesktop {
          display: block;
        }
      }

      &-image--2 {
        display: none;
        position: absolute;
        right: -100px;
        bottom: 0;
        z-index: 0;

        @include onDesktop {
          display: block;
        }

        @include onHuge {
          right: -250px;
        }
      }

      &-image--3 {
        display: none;
        position: absolute;
        top: 165px;
        left: -250px;

        @include onDesktop {
          display: block;
        }
      }

      &-image--4 {
        display: none;
        position: absolute;
        top: 100px;
        left: 120px;

        @include onDesktop {
          display: block;
        }
      }

      &-image--5 {
        display: none;
        position: absolute;
        bottom: 400px;
        right: -50px;

        @include onDesktop {
          display: block;
        }

        @include onHuge {
          right: -250px;
        }
      }

      &-image--6 {
        display: none;
        position: absolute;
        bottom: 150px;
        left: -80px;

        @include onDesktop {
          display: block;
        }
      }
    }
  }
}

.no-scroll {
  overflow: hidden;
}